@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProxiManova/proximanovaregular.woff2') format('woff2'), url('../fonts/ProxiManova/proximanovaregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}